<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-witdh, initial-scale=1">
	<title>E-PASS for ARMAN MALIK LIVE CONCERT 2018</title>
</head>
<body style="margin:0;padding:0;font-family: sans-serif;">
	<div>
		<div style="background-color: #777; padding: 30px 30px; text-align: center">
			<h3 style="color: #fff">CONCERT <span style="color: orange">PASS</span></h3>
		</div>
		<div style="background: url('https://verve2k18.herokuapp.com/Arman-malik.jpeg');background-size:cover;padding: 50px; position: relative; overflow: hidden;min-height: 400px">
			<div style="position:absolute;top:0;left:0;height:100%;width:100%;background:rgba(0,0,0,0.5)"></div>
			<h3 style="color: #fff;text-align: center;position: relative;">VERVE <span style="color: orange">2018</span></h3>

			<div style="width: 160px; margin: 5px auto;position: relative;">
				<img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=<%= participantId %>" alt="qr-code"/>
			</div>

			<div style="width:250px; margin: 30px auto;position: relative;">
				<table style="color: #fff">
					<tr>
						<td>Participant ID : </td>
						<td><%= participantId %> </td>
					</tr>
					<tr>
						<td>Name : </td>
						<td><%= name %></td>
					</tr>
					<tr>
						<td>College : </td>
						<td><%= college %></td>
					</tr>
					<tr>
							<td>Phone : </td>
							<td><%= phone %></td>
						</tr>
					<tr>
						<td>Events : </td>
						<td>
							<table>
								<tbody>
								<div style="display: inline">
									<% 
										for(var i=0;i<events.length;i++){ %>
											<div style="display: inline-block;">
												<div style="padding:10px;border-radius: 20px;background:#fc4442;margin:5px;color:#fff;display: inline-block;">
													<span><%= events[i]%></span>
												</div>
											</div>
										<% } %>
								</div>
							</tbody>
							</table>
						</td>
					</tr>

				</table>
			</div>
		</div>
	</div>
</body>
</html>
